# Contenido del archivo .env
FUTMONDO_USER="mails@gmail.com"
FUTMONDO_PASS="password123"
FUTMONDO_MARKET_URL="https://api.futmondo.com/1/market/myplayers"
FUTMONDO_CHAMPIONSHIPID="9999999999999999999999999"
FUTMONDO_USERTEAMID="999999999999999999999999"

# Datos de conexión PostgreSQL
DB_HOST = "192.168.1.111"
DB_PORT = "5555"
DB_NAME = "fantasy_futmondo"
DB_USER = "user"      
DB_PASS = "password"

# Bot Telegram
TELEGRAM_TOKEN =
TELEGRAM_CHAT_ID =