# Contenido del archivo .gitignore
.venv/
.env
__pycache__/
data/
# Logs
*.log
logs/
# Archivos temporales de notebooks
.ipynb_checkpoints/

# Sistema operativo
.DS_Store
Thumbs.db

archive/
run_futmondo.sh

GEMINI.md